*{
    font-family: Arial, sans-serif;
}
body{
    margin: 0 auto;
    background-color: rgb(209, 209, 209);
}
header{
    text-align: center;
    margin-top: 3rem;
    font-size: 1.25rem;
    line-height: 0.6rem;
}
.perfil{
    color: rgb(204, 0, 0);
    font-size: 3.75rem;
}
.container{
    max-width: 50rem;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
}
ul{
    line-height: 1.8rem;
    padding: 0;
    list-style-type: none;
}
section{
    flex: 1;
    padding: 0.625rem;
}
.dois{
    line-height: 1.5rem;
}
.tres{
    background-color: rgb(204, 0, 0);
    text-align: center;
    margin-top: 1.8rem;
    color: white;
}
.div{
    margin-top: -4.3rem;
    margin-bottom: 6.25rem;
    line-height: 1.5rem;
    
}
.img{
    border-radius: 50%;
    position: relative;
    top: -4.3rem;
    object-fit: cover;
}
.letra{
    font-size: 0.8rem;
}
.letrinha{
    font-size: 0.93rem;
}
a{
    color: black;
}
button{
    background-color: white;
    color: black;
    border: rgb(204, 0, 0) solid 0.2rem;
    font-size: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 1.8rem;
}
.imagens{
    display: flex;
    position: relative;
    top: -3.125rem;
    margin: 0 2rem;   
    gap: 0.5rem;
    height: 2rem;
    width: 2rem;
}
footer{
    text-align: center;
    font-size: 0.8rem;
    background-color: rgb(75, 75, 75);
    margin-top: 4rem;
    width: 100%;
    padding: 3rem;
    bottom: 0;
    position:fixed;
}